.signUp-parent .shippingStep,
.signUp-parent .placeorder,
.signUp-parent .payment{
    display:none;
    opacity:0;
}
.signUp-parent .activeStep{
    display:block;
    opacity:1;
}

.signup-page-btn1{
    width: 15%;
    height: 50px;
    background-color:#66DBA8;
    margin: 10px 40%;
    border: none;
    border-radius: 5px;

}


