*,
p,
a,
span,
div,
label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
  background: #eef0f8;
  overflow-x: hidden;
}


.app .main{
  display:flex;
  
}

.app .main {
  padding: 40px 0px;
  width: 100%;
  height: 100%;
}

.app .main  .body-inner{
  width:100%;
  height:100%;
  padding:20px 15px;
  
  
}

.table-card,
.form-card {
  background: #fff;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  padding: 10px 15px;
}
.table-card-heading,.form-card-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.table-card-heading p,.form-card-heading p{
  font-weight:600;
  font-size:17px;

}
.btn {
  padding: 2px 10px !important;
  font-size: 12px;
}

.custom-table {
  margin: 10px 0;
  color: #464e5f;
  width: 100%;
}
.custom-table thead tr th {
  background: #d6dadd !important;
  font-size: 11px !important;
  padding: 1px 4px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: 600;
  border: 1px solid #cfcbcb;
}
.custom-table tbody tr td {
  padding: 1px 4px !important;
  vertical-align: middle !important;
  font-size: 12px;
  color: #000;
  border: 1px solid #cfcbcb;
}
.form-card-content {
  margin-top: 10px;
  background: #eef0f8;
  border-radius: 3px;
  padding: 5px;
}
.form-card-content label {
  font-size: 12px;
}

